#hakkında{
    background-color:#333;padding:18px; background-image: url("arkaplanss.jpg")
}
#iletisim{
    background-color:#333;padding:18px; background-image: url("arkaplanss.jpg")
}
#b{
        
    width: 350px;
    height: 680px;
    background-color:#1c00b8;

 
}
.box{
    width: 400px;
    height: 350 px;
    border-style: solid;
    margin:auto;
    padding-top:30px;
    padding-left: 30px;
    padding-bottom: 30px;
    position: relative;
    top: 60px;
    background-color: #fff;
}
.welcome
{
    text-decoration: dashed;
  
}
#miras{
    background-image: url("arkaplanss.jpg");padding:15px;
}
aside {
 
    padding-left: 15px;
    margin-left: 15px;
    padding-right: 15px;
    width: 600px;
    height: 400px;
    float:right;
    font-style: italic;
 
  }
  #ilgi{
  margin:0; 
  padding: 0%;
  box-sizing: border-box;
  font-family: 'montserrat' sans-serif;
  color:#fff;
  background-image: url("havadurumu2jpg.jpg");

  }
 
  section {

padding-left: 15px;
margin-left: 15px;
padding-right: 15px;
width: 600px;
height: 400px;
float: left;
font-style: italic;

}
#sehrim{
    background-color:#333;padding:18px;color:#fff; background-image: url("arkaplanss.jpg") ;color:black
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background:rgba(0,0,0,.7);
    height: 100vh;
}
.header
{
    padding: 50px 20px 30px 20px;
}
.header h1{
    font-size: 50px;
    color:coral;
    text-shadow: 1px 3px rgba(0,0,0,.9) ;
}
.header input{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px ;
    text-align: center;
    color:#f2f2f2;
}
.city
{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 1px 3px rgba( 0,0,0,.8);
}
.temp
{
    font-size:100px;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 1px 5px rgba( 0,0,0,1);
}

.desc{
   font-size:25px;
   font-style: italic;
   text-shadow: 1px 3px rgba( 0,0,0,.8);
   margin-bottom:10px; 
}
.minmax
{
    font-size: 24px;
    text-shadow: 1px 3px rgba(0,0,0,.8);

}